<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="libdargon.filesystem-api" version="0.0.1" targetFramework="net45" />
  <package id="libdargon.filesystem-impl" version="0.0.0" targetFramework="net45" />
  <package id="libdargon.utilities" version="0.0.3" targetFramework="net45" />
  <package id="libdpo" version="0.0.10" targetFramework="net45" />
  <package id="libdsp" version="0.0.0" targetFramework="net45" />
  <package id="libwarty" version="0.0.15" targetFramework="net45" />
  <package id="libwarty.proxies-api" version="0.0.15" targetFramework="net45" />
  <package id="libwarty.proxies-impl" version="0.0.11" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
</packages>