<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dargon.SystemState.Api" version="0.0.0" targetFramework="net45" />
  <package id="libdargon.management-api" version="0.0.0" targetFramework="net45" />
  <package id="libwarty.proxies-api" version="0.0.16" targetFramework="net45" />
  <package id="libwarty.proxies-impl" version="0.0.12" targetFramework="net45" />
</packages>