<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Dargon.Management.Api" version="0.1.2" targetFramework="net45" />
  <package id="Dargon.Management.Impl" version="0.2.0" targetFramework="net45" />
  <package id="Dargon.Nest.Egg.Api" version="0.1.1" targetFramework="net45" />
  <package id="Dargon.Nest.Exeggutor.Api" version="0.3.2" targetFramework="net45" />
  <package id="Dargon.PortableObjects" version="0.2.0" targetFramework="net45" />
  <package id="Dargon.PortableObjects.Streams" version="0.3.0" targetFramework="net45" />
  <package id="Dargon.Ryu.Api" version="0.3.1" targetFramework="net45" />
  <package id="Dargon.Services.Api" version="1.0.0" targetFramework="net45" />
  <package id="Dargon.Services.Impl" version="1.0.1" targetFramework="net45" />
  <package id="ItzWarty.Commons" version="0.5.2" targetFramework="net45" />
  <package id="ItzWarty.Proxies.Api" version="0.1.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
</packages>