<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constructors.Fody" version="0.0.5" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.3" targetFramework="net45" developmentDependency="true" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net45" />
</packages>